{% extends 'base.html' %}
{% load static %}

{% block title %}Stock Table{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/allstock.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">AVAILABLE STOCK</h1>

    <div class="table-responsive position-relative">

        <table class="table table-bordered table-hover shadow-sm mt-5">
            <thead class="table-primary">
                <tr>
                    <th>Category name</th>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Supplier</th>
                    <th>Date</th>
                    <th>Branch</th>
                    {% if user.is_manager %}
                    <th>Details</th>
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.category_name }}</td>
                    <td>{{ stock.item_name }}</td>
                    <td>{{ stock.total_quantity }}</td>
                    <td>UGX. {{ stock.cost }}</td>
                    <td>{{ stock.supplier_type }}</td>
                    <td>{{ stock.date }}</td>
                    <td>{{ stock.branch }}</td>

                    {% if user.is_manager %}
                    <td>
                        <a href="{% url 'stockdetail' stock.id %}">
                            <input type="submit" value="View Details" class="view-detail-btn">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_stock' stock.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}